<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="JINGFEIMapper">
	
	<!--表名 -->
	<sql id="tableName">
		KYGL_JINGFEI
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		TUSHU,	
		SHUJU,	
		HUIYI,	
		ZHUANJIAZIXUN,	
		ZHUYANJINGTIE,	
		YINSHUA,	
		CHAILU,	
		GUOJIJIAOLIUHEZUO,	
		SHEBEI,	
		JIANJIEFEIYONG,	
		JIANJIEZBZ,	
		QITAFEIYONG,	
		QITAFEIYONGBZ,	
		ZONGJINGFEI,	
		XIANGMUID,	
		JINGFEI_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{TUSHU},	
		#{SHUJU},	
		#{HUIYI},	
		#{ZHUANJIAZIXUN},	
		#{ZHUYANJINGTIE},	
		#{YINSHUA},	
		#{CHAILU},	
		#{GUOJIJIAOLIUHEZUO},	
		#{SHEBEI},	
		#{JIANJIEFEIYONG},	
		#{JIANJIEZBZ},	
		#{QITAFEIYONG},	
		#{QITAFEIYONGBZ},	
		#{ZONGJINGFEI},	
		#{XIANGMUID},	
		#{JINGFEI_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			JINGFEI_ID = #{JINGFEI_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			TUSHU = #{TUSHU},
			SHUJU = #{SHUJU},
			HUIYI = #{HUIYI},
			ZHUANJIAZIXUN = #{ZHUANJIAZIXUN},
			ZHUYANJINGTIE = #{ZHUYANJINGTIE},
			YINSHUA = #{YINSHUA},
			CHAILU = #{CHAILU},
			GUOJIJIAOLIUHEZUO = #{GUOJIJIAOLIUHEZUO},
			SHEBEI = #{SHEBEI},
			JIANJIEFEIYONG = #{JIANJIEFEIYONG},
			JIANJIEZBZ = #{JIANJIEZBZ},
			QITAFEIYONG = #{QITAFEIYONG},
			QITAFEIYONGBZ = #{QITAFEIYONGBZ},
			ZONGJINGFEI = #{ZONGJINGFEI},
			XIANGMUID = #{XIANGMUID},
		JINGFEI_ID = JINGFEI_ID
		where 
		JINGFEI_ID = #{JINGFEI_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			JINGFEI_ID = #{JINGFEI_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					TUSHU LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')	
					SHUJU LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')	
					HUIYI LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')	
					ZHUANJIAZIXUN LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')	
					ZHUYANJINGTIE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')	
					YINSHUA LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					CHAILU LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					GUOJIJIAOLIUHEZUO LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')	
					SHEBEI LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					JIANJIEFEIYONG LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					JIANJIEZBZ LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					QITAFEIYONG LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')	
					QITAFEIYONGBZ LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')	
					ZONGJINGFEI LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')	
					XIANGMUID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')	
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			JINGFEI_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>